*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}






/* Header ,navbar and banner style starts */

Header{
    padding: 4rem 15rem;
    width: 100%;
    background-color:rgba(255,144,14,0.10);
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    padding: 0 2rem;
 }

 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 4rem;
 }

 .section-title{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
 }

 nav ul li{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem; /* 144.444% */
 }


 /* -----banner part */
 .banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

 .banner-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
 }
 .banner-description{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    margin-bottom: 1rem;
 }

 .btn-primary{
    border-radius: 0.5rem;
    background: #FF900E;    
    border: none;
    color: white;
    width: 11.25rem;
    height: 4rem;
    flex-shrink: 0;
    margin-bottom: 5rem;
 }
 .banner-container img{
    width: 100%;
 }


/* Header ,navbar and banner style starts */
/* ----------------------------------------------------------------------------------------- */


/* main parts begins here */
 main{
    margin: 4rem 15rem;
 }
 .quick-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 8rem;
 }


 .quick-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }


 .quick-title{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.5rem;
 }
 .quick-description{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    margin-bottom: 2rem;
 }



 /* feature-you-container section styles ---------------------------------------------------------------------------------starts */

/* feature-title and description styles-------------------- */


 .feature-you-container{
   display:flex;
   justify-content: space-between;
   align-items: center;
 }
.feature-text-part-container{
   display:flex;
   flex-direction: column;
   gap: 1.5rem;
}
.feature-title-container{
   padding-left: 1rem;

}
.title-border-div{
   border-left: 5px solid #FF900E;

}

.feature-title{
   color: var(--Dark-01, #131313);
   font-size: 2.8125rem;
   font-weight: 700;
   margin-bottom: 1rem;
   margin-left: 1.31rem;
}
.feature-description{
   color: var(--Dark-03, #727272);
   font-size: 1rem;
   font-weight: 400;
}
 .feature-img-container img{
   height: 43rem;
   width: 31rem;
 }
/* feature-title and description ends------ */
/* feature-text-card-container---------------------------styles starts */
.feature-text-card-container{
   display: flex;
   flex-direction: column;

}

.text-card{
   border-radius: 0.5rem;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   margin-bottom: 1rem;
   height: 7rem;
   padding: 1.8rem;
}

.text-card-title{
   color: var(--Dark-01, #131313);
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: .3rem;
}

.text-card-description{
   color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: .8rem;
font-style: normal;
font-weight: 400;
}


/* feature-btn----------------------------------styles */
.button{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.5rem;
}
.button button{
   color: #FFF;
   text-align: center;
   font-weight: 700;
   border-radius: 0.5rem;
   background: #FF900E;
   height: 5rem;
   width: 10rem;
   border: none;
}

.button button h2{
   font-size: 2.0625rem;
}

 /* feature-you-container section styles ----------------------------------------------------------------------------ends */
/* some-facts-section --------------------------------------------------------starts */
.some-facts-section{
   margin-top: 5rem;

}
.some-facts-container>h1{
   color: var(--Dark-01, #131313);
   font-size: 2.8rem;
   font-weight: 900;
   margin-bottom: 1.5rem;
}
.some-facts-container>p{
   color: var(--Dark-03, #727272);
   font-size: 1rem;
   font-weight: 400;
}


.some-facts-card-container{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 6rem;
   text-align: center;
}

.card{
   width: 10rem;
   height: 10rem;
   border: 1px solid #FF900E;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card img{
   width: 1.5rem;
   height: 1.5rem;
}
.card h2{
   font-size: 2rem;
   font-weight: 800;
   margin-top: .5rem;
}
.card p{
   color: var(--Dark-03, #727272);
   font-size: .8rem;
   font-weight: 600;
   margin-top: .3rem;
}
/* ------------------some facts cars animation style-------------------- */
.card:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
 }
 
 @keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }
/* some-facts-section ---------------- ends*/
/* <!-- Our sponsors section  ----------------------------------------------------------------------starts --> */
.our-sponsors-section{
   margin-top: 8rem;
   text-align: center;

}
.sponsors-title{
   color: var(--Dark-01, #131313);
   font-size: 2.8125rem;
   font-weight: 700;
   margin-bottom: 1rem;
}
.sponsors-description{
   color: var(--Dark-03, #727272);
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 3rem;
}


.sponsors-logo-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sponsors-logo-container img{
   width: 8rem;
   height: 2rem;
   -webkit-filter: grayscale(100%); 
   filter: grayscale(100%);
}

 
   
/* <!-- Our sponsors section  -------------ends --> */

/* <!-- Our services section -------------------------------------------------------------------------starts --> */

.our-services-section{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   margin-top: 8rem;
   
}
.service-info-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2.5rem;
   gap: 2.2rem;
}

.service-info{
   padding: 1rem;
   height: 8rem;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
.service-info p{
   font-size: .8rem;
   color: #727272;
   margin: .5rem 0;
}



/* <!-- Our services section --------------ends --> */

/* footer section styles---------------------------------------------------------starts */

footer{
   margin: 8rem 15rem;
   margin-bottom: 5rem;

}
.footer{
   border-radius: 0.5rem;
   background: #FFF4E7;
   height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer p{
   color: var(--Dark-02, #424242);
   font-size: .8rem;
   font-weight: 400;
   }
/* footer section styles------------ends */

